{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
    <footer class="footer">
        <h1 id="index"><b>Slot Machine</b></h1>
        <div class="menu">
            <a href="{{ url_for('page.play') }}">Play</a>
            <a href="{{ url_for('page.deposit') }}">Deposit</a>
            <a href="{{ url_for('page.login') }}">Login</a>
            <a href="{{ url_for('page.signup') }}">Sign Up</a>
            <a href="{{ url_for('page.logout') }}">Logout</a>
        </div>
    </footer>
   <div class="base" style="margin: 0">
        <div class="start_text">
            {% if current_user.is_authenticated %}
                <h3>Hello {{ current_user.username }}, your deposit is {{ current_user.deposit }}</h3>
            {% else %}
                <h3>Hello! Please log in to play or deposit.</h3>
            {% endif %}
        </div>
   </div>
{% endblock %}