{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
    <h1><b> Index Page</b></h1>
    {% if current_user.is_authenticated %}
        <h3>Hello {{ current_user.username }}, your deposit is {{ current_user.deposit }}</h3>
    {% else %}
        <h3>Hello!</h3>
    {% endif %}

    <a href="{{ url_for('signup') }}">Sign Up</a><br>
    <a href="{{ url_for('login') }}">Login</a><br>
    <a href="{{ url_for('logout') }}">Logout</a><br>
    <a href="{{ url_for('deposit') }}">Deposit</a><br>
    <a href="{{ url_for('play') }}">Play</a><br>

{% endblock %}